@media (max-width: 1368px) {
    .main {
        margin-top: 75px;
    }

    .team {
        margin-bottom: 0;
    }

    .booking {
        margin-top: 50px;
    }

    .menu-navigation {
        margin-top: 10px;
    }

    .food-menu {
        margin-top: 15px;
    }

    .food-menu-items-description:not(:last-child) {
        padding-bottom: 20px;
    }

    .adress-block .button {
        width: 40%;
    }
}

@media (max-width: 1348px) {
    .booking .about-text {
        width: 25%;
    }

    .private-events .squeare {
        display: none;
    }

    .food-menu-items {
        font-size: 15px;
    }
}

@media (max-width: 1090px) {
    .main-title {
        font-size: 60px;
    }


    .booking .about-text {
        width: 21%;
    }
   
    .event-weddings {
        margin-right: 25px;
    }

    .adress-block .button {
        width: 25%;
    }

    img {
        max-width: 350px;
        max-height: 350px;
    }

    .squeare {
        width: 184px;
        height: 184px;
        right: 30px;
    }

    .team .square {
        left: 130px;
    }
}